// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #1d70b8;
$secondary: #28a197;
$accent: #912b88;

$dark: #505a5f;
$dark-page: #0b0c0c;

$positive: #00703c;
$negative: #d4351c;
$info: #5694ca;
$warning: #ffdd00;
$light-grey: #f3f2f1;
